[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/rlImGui"]
	path = libs/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "libs/raylib"]
	path = libs/raylib
	url = https://github.com/raysan5/raylib.git
